<div class="mb-16">
    <div class="flex flex-wrap ga-3 justify-around">
        <h1 class="text-3xl font-bold mt-3 text-white">Héroes</h1>
        <button routerLink="/create-hero" class="bg-green-500 hover:bg-green-400 text-white font-bold py-2 px-4 border-b-4 border-green-700 hover:border-green-500 rounded">Crear</button>
    </div>

    <div class="flex flex-wrap ga-3 justify-center">
        @for (hero of heroList() ; track $index) {
            <div class="bg-white rounded-lg shadow-lg size-fit m-3">
                <div>
                    <img class="size-60 p-3 rounded-xg" srcset={{hero.imagen}} alt={{hero.nombre}}>
                </div>
                <div class="p-3 flex justify-between">
                    <a [routerLink]="['/hero/', hero.id]">
                        <h3 class="text-xl font-bold hover:text-blue-600">{{hero.nombre}}</h3>
                    </a>
                    <span>
                        @switch (hero.editorial) {
                            @case ("Marvel"){
                                <img class="size-6  w-auto" src="assets/marvel-tag.png" alt="Marvel">
                            }
                            @case ("DC") {
                                <img class="size-7 w-auto" src="assets/dc-tag.png" alt="DC">
                            }
                            @case ("Image Comics") {
                                <img class="size-7 w-auto" src="assets/image-tag.png" alt="Image Comics">
                            }
                            @case ("IDW Publishing") {
                                <img class="size-7 w-auto" src="assets/idw-tag.png" alt="IDW Publishing">
                            }
                            @case ("Dark Horse Comics") {
                                <img class="size-7 w-auto" src="assets/dark-horse-tag.png" alt="Dark Horse Comics">
                            }
                            @default {
                                <p>Editorial desconocida</p>
                            }
                        }
                    </span>
                </div>
                <div class="p-3 flex justify-around mb-4">
                    <button [routerLink]="['/update-hero/', hero.id]" class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded">Editar</button>
                    <button (click)="eliminarHero(hero.id)" class="bg-red-500 hover:bg-red-400 text-white font-bold py-2 px-4 border-b-4 border-red-700 hover:border-red-500 rounded">Eliminar</button>
                </div>
            </div>
        }@empty {
            <p>Cargando...</p>
        }
    </div>
    <div class="mb-4">
        <p class="font-bold text-lg">¿No encontraste al héroe que buscas? ¡No te preocupes, estamos aquí para ayudarte! <a class="text-red-700 hover:text-red-400" routerLink="/create-hero">Agrega tu héroe favorito a la lista</a></p>
    </div>
</div>

